* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #9F9F9F;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.container {
   width: 80%;
   margin: 0 auto 10px auto;
}

#logo {
   width: 180px;
   padding-right: 20px;
   border-right: 1px solid #E7E7E7;
   cursor: pointer;
}

.background-rules {
   background-position: center;
   background-size: cover;
}

.b-radius {
   border-radius: 12px;
}

.layover {
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
}

h1, h4, footer {
   color: black;
}
/* finish global classes */

/* HEADER */
.top-header, .jambotron {
   margin-bottom: 25px;
}

/* menu  */
.top-header .menu {
   margin-top: 25px;
}

.menu ul li {
   padding-right: 10px;
   list-style: none;
   display: inline-block;
}

.menu ul li a, .menu ul li a:visited {
   color: #9F9F9F;
   text-decoration: none;
   text-transform: uppercase;
}

.menu ul li a:hover {
   color: #CE6E38;
}

/* jambotron */
header .jambotron {
   height: 400px;
   background-image: url('../img/banner.jpg');
   color: #FFF;
}

.jambotron-text {
   padding: 22% 40% 0 50px;
}

.jambotron-text h3 {
   font-size: 23px;
}

/* MAIN */
main {
   margin-bottom: 10px;
}

.main-top, .main-left, .main-center, .main-right {
   margin-bottom: 20px; 
}

.main-top h1 {
   font-weight: bolder;
}

.main-left, .main-center, .main-right {
   float: left;
}

.main-left, .main-right {
   width: 19.5%;
}

.main-center {
   width: 59%;
   margin-left: 1%;
   margin-right: 1%;
}

.image-left, .image-center, .image-right {
   height: 200px;
}

.main-bottom h4 {
   margin: 25px 0;
}

/* main image  */
.main-bottom .image-left {
   background-image: url('../img/img-1.jpg');
}

.main-bottom .image-center {
   background-image: url('../img/banner-2.jpg');
}

.main-bottom .image-right {
   background-image: url('../img/img-3.jpg');
}

/* FOOTER */
footer {
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

footer::after {
   content: ' \2665';
   color: red;
   font-size: 30px;
}