* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.container {
   width: 80%;
   margin: 0 auto 10px auto;
}

#logo {
   width: 180px;
   cursor: pointer;
}

/* HEADER */
.top-header, .jambotron {
   margin-bottom: 25px;
}

.top-header .menu {
   margin-top: 25px;
}

.menu ul li {
   padding-right: 10px;
   list-style: none;
   display: inline-block;
}

.menu ul li a, .menu ul li a:visited {
   color: #9F9F9F;
   text-decoration: none;
   text-transform: uppercase;
}

.menu ul li a:hover {
   color: #CE6E38;
}

header .jambotron {
   min-height: 400px; /* da rimuovere */
   background-color: #E1D67A;
}

/* MAIN */
main {
   margin-bottom: 10px;
   background-color: #0186FF;
}

.main-top, .main-left, .main-center, .main-right {
   background-color: #ABCFE7;
   margin-bottom: 10px; 
}

.main-left, .main-center, .main-right {
   min-height: 400px; /* da rimuovere */
   float: left;
}

.main-top {
   height: 70px;
}

.main-left, .main-right {
   width: 19.5%;
}

.main-center {
   width: 59%;
   margin-left: 1%;
   margin-right: 1%;
}

/* FOOTER */
footer {
   height: 50px;
   background-color: #8801FE;
}